.about-us-section {
  background-color: #fff0f6;
}

.desc {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: +0.5px;
  margin-bottom: 4.8rem;
}

.about-text .btn-cta {
  margin-right: 1rem;
}

.partners-text {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: +1px;
  margin-bottom: 3.2rem;
}

.partner-logos {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.strawberries {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.4rem 0 9.6rem 0;
}

.contacts-section {
  background-color: #fff0f6;
}

.contacts-container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 4.4rem 0 6.4rem 0;
}

footer {
  text-align: center;
  background-color: #fff0f6;
  font-size: 1.6rem;
}