/* 
[SIZING]

WHITESPACE SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

/* 
[COLORS]

Primary color: #fa5252
Primary color shades: #c84242
Background color: #fff0f6

Primary font color: #555

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  color: #555;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  border-radius: 11px;
  font-weight: 500;
  transition: all 500ms;
}

.btn:hover,
.btn:active {
  color: #fa5252;
}

.btn:focus {
}

.btn-cta {
  background-color: #fa5252;
  color: #fff !important;
}

.btn-cta:hover, .btn-cta:active {
  background-color: #c84242;
}

.btn-cta:focus {
}

.primary-heading {
  margin-bottom: 2rem;
  font-weight: 600;
  color: #333;
  font-size: 3.6rem;
}

.main-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.4rem 0 9.6rem 0;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 0.5fr 0.5fr;
  gap: 5rem;
}