.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
  /* padding-bottom: 9rem; */
  background-color: #fff0f6;
}

.header-navigation {
  display: flex;
  gap: 0.5rem;
}

.header-logo {
  width: 8rem;
}