.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
  background-color: #fff0f6;
  height: 10rem;
  /* position: sticky;
  top: 0px; */
}

.header-navigation {
  display: flex;
  gap: 1rem;
}

.mobile-nav {
  display: none;
}

.mobile-nav .btn {
  background-color: inherit;
}

.mobile-nav-icon {
  height: 2.4rem;
  width: 2.4rem;
}
