/* ------------------------ */
/* HEADER */
/* ------------------------ */
.header-logo {
  width: 8rem;
}

/* ------------------------ */
/* HOMEPAGE */
/* ------------------------ */
.farm-img,
.sprouts-img,
.strawberries-img,
.quality-img,
.asta-img {
  border-radius: 11px;
}

.farm-img {
  height: 60rem;
}

.sprouts-img {
  height: auto;
  width: 70%;
}

.strawberries-img {
  height: auto;
  width: 70%;
}

.quality-img {
  height: auto;
  width: 85%;
}

.asta-img {
  height: auto;
  width: 60%;
}

.partner-logo {
  height: 4rem;
  width: auto;
  filter: brightness(0);
  opacity: 60%;
}

.review-img {
  height: 10vh;
}

.strawberry-img {
  height: auto;
  width: 90%;
}
