@media (max-width: 93em) {
  .farm-img {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 85em) {
  .desc {
    font-size: 1.8rem;
  }

  .list {
    font-size: 1.8rem;
  }

  .primary-heading {
    font-size: 3rem;
  }
}

@media (max-width: 78em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 69em) {
  .desc {
    font-size: 1.6rem;
  }

  .list {
    font-size: 1.6rem;
  }

  th,
  td {
    font-size: 1.5rem;
  }
}

@media (max-width: 65em) {
  .sprouts-img {
    width: 45rem;
  }

  .strawberries-img {
    height: 40rem;
  }

  .quality-img {
    width: 45rem;
  }

  .asta-img {
    height: 40rem;
  }

  .grid--2-cols {
    gap: 2rem;
  }
}

@media (max-width: 58em) {
  th,
  td {
    font-size: 1.2rem;
  }

  .about-us-section .wide-container .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .about-us-section .wide-container .primary-heading {
    text-align: center;
  }
  .list,
  .desc.margin-bottom--medium {
    margin-bottom: 2.4rem;
  }

  .section-description .cta-buttons {
    justify-content: center;
    margin-bottom: 4rem;
  }

  .about-us-section .about-img {
    justify-content: center;
  }

  .farm-img {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 56em) {
  .sprouts-img {
    width: 35rem;
  }

  .strawberries-img {
    height: 40rem;
  }

  .quality-img {
    width: 35rem;
  }

  .asta-img {
    height: 40rem;
  }
}

@media (max-width: 45em) {
  th,
  td {
    font-size: 2rem;
  }

  .mobile-nav {
    display: block;
  }

  .header-navigation {
    display: none;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .strawberry-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2.4rem;
  }

  .primary-heading {
    text-align: center;
  }

  #strawberries .main-container .grid .product-img-section {
    grid-row: 2;
  }

  .btn-more-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2.4rem;
  }

  .sprouts-img {
    width: 60%;
    height: auto;
  }

  .strawberries-img {
    width: 60%;
    height: auto;
  }

  .quality-img {
    width: 80%;
    height: auto;
  }

  .asta-img {
    width: 60%;
    height: auto;
  }

  .partner-logos {
    gap: 1rem;
  }
}

@media (max-width: 30em) {
  th,
  td {
    font-size: 1.2rem;
  }
}

@media (max-width: 24em) {
  .cta-buttons {
    flex-direction: column;
  }

  th,
  td {
    font-size: 1rem;
  }
}
