body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header {
  margin-bottom: 4rem;
}

.main-header {
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.sprouts-container {
  margin: 0 auto;
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 80vw;
}

.sprout-option {
  width: 100%;
  max-width: 80vw;
  border: solid 3px #fff0f6;
  border-radius: 11px;
  padding: 1.6rem 3.6rem;
}

.sprout-option--nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sprout-title {
  font-size: 2.4rem;
}

.btn-sprout:hover,
.btn-sprout:focus,
.btn-sprout:active {
  box-shadow: none !important;
  outline: none;
}

.sprout-content {
  margin-top: 2rem;
}

footer {
  margin-top: 5rem;
}

.sprout-table-container {
  display: flex;
  justify-content: center;
  padding: 1.6rem 0;
}

th,
td {
  padding: 6px 12px;
  font-size: 1.8rem;
}

tr {
  display: inline-flex;
  flex-direction: column;
}

th {
  text-align: start;
  font-weight: 500;
}

td {
  text-justify: center;
}

.tr--1st {
  background-color: #ffc9c9;
}

.tr--2nd {
  background-color: #ffa8a8;
}

.tr--3rd {
  background-color: #ff8787;
}

.tr--4th {
  background-color: #ff6b6b;
}

.tr--5th {
  background-color: #fa5252;
}
